{% extends "layout.html" %} {% block title %} Insert {% endblock %} {% block
main %}

<form action="/insert" method="post">
  <div
    class="m-4 p-2 w-8 h-10 mx-auto flex flex-row items-center justify-center"
  >
    <input
      autocomplete="off"
      class="mx-auto w-auto"
      min="0"
      name="nome"
      placeholder="Music Name"
      type="text"
    />
    <select class="mx-auto w-auto p-2" name="session">
      <option disabled selected>Session</option>
      {% for session in sessions %}
      <option value="{{session}}">{{session}}</option>
      {% endfor %}
    </select>
    <button
      class="m-4 p-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="submit"
    >
      Insert
    </button>
  </div>
  <div class="m-4">
    <textarea
      class="mx-auto w-auto border-blue-400"
      autofocus
      autocomplete="off"
      name="texto"
      rows="50"
      cols="80"
    ></textarea>
  </div>
</form>

{% endblock %}
