{% extends "layout.html" %} {% block title %} List all {% endblock %} {% block
main %}
<section class="container bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
  <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-4 py-3">Number</th>
            <th scope="col" class="px-4 py-3">Name</th>
            <th scope="col" class="px-4 py-3">Session</th>
          </tr>
        </thead>
        <tbody>
          {% for sheet in sheets %}
          <tr class="border-b dark:border-gray-700">
            <td class="px-4 py-3">{{ sheet['id'] }}</td>
            <td class="px-4 py-3">{{ sheet['nome'] }}</td>
            <td class="px-4 py-3">{{ sheet['sessao'] }}</td>
            <td class="px-4 py-3 flex items-center justify-end"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
